{
  "extends": [
    "airbnb-base",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "import", "jest"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-sparse-arrays": "off",
    "linebreak-style": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ]
  },
  "settings": {
    "import/extensions": [".ts"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "node": { "extensions": [".ts"] },
      "alias": {
        "map": [["~", "./src"]],
        "extensions": [".ts"]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": { "@typescript-eslint/recommended": "off" }
    }
  ]
}
